n8n Automation/Ai Node.json
{
  "name": "Ai Node",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.snippet }}",
        "attributes": {
          "attributes": [
            {
              "name": "The Creative Hub",
              "description": "={{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -32,
        0
      ],
      "id": "a8b825f1-2640-4acb-b374-1122cf3e8dec",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -112,
        208
      ],
      "id": "6ba18246-2941-4381-91dd-d2af85326f76",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "t6rPenhw08XclX0C",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.output['The Creative Hub'] }}",
        "options": {
          "categories": "Positive, Neutral, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        320,
        0
      ],
      "id": "77fab78e-9a71-4bb9-8464-d64d8166ce67",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "26dde700-827c-4dc8-87be-88fd9d69e542",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "tPF8duOyoldjxlO2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output['The Creative Hub'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional email reply assistant.\n\nYour task is to read an incoming email and generate a polite, clear, and well-structured reply in **HTML format only**.\n\nSTRICT RULES:\n1. Output ONLY valid HTML (no Markdown, no plain text, no explanations).\n2. Do NOT include <html>, <head>, or <body> tags.\n3. Use clean, email-safe HTML (div, p, strong, br).\n4. Always include a subject line separately as plain text if required by the system.\n5. Match the sender’s tone:\n   - Positive → warm and appreciative\n   - Neutral → professional and informative\n   - Negative → calm, empathetic, and solution-oriented\n6. Keep the email concise (80–150 words).\n7. Use professional grammar and natural language.\n8. Never use emojis, slang, or casual expressions.\n9. Do not mention AI, automation, or system behavior.\n10. If information is missing, ask politely instead of assuming.\n11.Don't include subject\n\nHTML EMAIL STRUCTURE (MANDATORY):\n\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Greeting (Hello / Hi / Dear Name),</p>\n\n  <p>Main response paragraph.</p>\n\n  <p>Supporting or clarification paragraph (if needed).</p>\n\n  <p>Closing line.</p>\n\n  <p>\n    Regards,<br>\n    {{Sender_Name}}\n  </p>\n</div>\n\nUse <strong> only if emphasis is truly necessary.\nAvoid lists unless absolutely required.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        672,
        112
      ],
      "id": "a090e63f-d6dc-405c-b258-835d4795787d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        608,
        320
      ],
      "id": "9312ba75-c34d-42a1-b92d-c0882cd21a4f",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "tPF8duOyoldjxlO2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        128
      ],
      "id": "126fe3ff-f186-4f50-8f62-138316c313a4",
      "name": "Send a message",
      "webhookId": "d91d85dd-86a6-4301-8ee9-a49d17e56dca",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cr6Md4qsv9VhdvQO",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1la_DPtAT6pqjMcY74RekWYTU7KvpPsRA1CabQ4eKzZk",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1la_DPtAT6pqjMcY74RekWYTU7KvpPsRA1CabQ4eKzZk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1la_DPtAT6pqjMcY74RekWYTU7KvpPsRA1CabQ4eKzZk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $('Gmail Trigger').item.json.From }}",
            "review": "={{ $('Gmail Trigger').item.json.snippet }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review",
              "displayName": "review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -144
      ],
      "id": "277427d5-6530-40e7-a240-a8b45e0de2be",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hilttl6NqHcREkkF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "This is used To learn Ai nodes:\n \n                                      GmailTrigger\n                                            |\n                                  Information Extract\n                                            |\n                                 Senitmental analyis\n                                            |\n                             -----------------------------------------\n                             |                                       |\n              Positive or neutral                                  Negeative\n              (append in sheet)                                 (Repond user)",
        "height": 224,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -272
      ],
      "typeVersion": 1,
      "id": "2091f2dd-e66e-433c-b145-b7610010092e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        0
      ],
      "id": "ddc54b52-b1e8-4029-976f-a761963645c9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Cr6Md4qsv9VhdvQO",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0c74839-a097-49ae-8832-bd06a4627946",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f973b6211b077ae7ed792ede0492c1182f52a5dfad171dd60a712b9d3549b523"
  },
  "id": "K5XSYCjzK8egeuwr",
  "tags": []
}