n8n Automation/Automatic ticket creation (1).json
{
  "name": "Automatic ticket creation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        0
      ],
      "id": "fa8c2da7-f14b-487d-ab55-4df826f39fed",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "w4xPBu6jRbycKFKA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email classifier.\n\nYour task:\nDetermine whether the following email is a service request or incident that requires creating a ticket in ServiceNow.\n\nIf the email is asking for help, reporting an issue, requesting access, reporting a system problem, or any work-related support request → classify as REQUEST.\n\nIf the email is casual conversation, newsletter, marketing, personal message, or unrelated content → classify as NOT_REQUEST.\n\nRespond in JSON format only like this:\n\n \"REQUEST\"\n\nor\n\n \"NOT_REQUEST\"\n\nEmail:\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        16,
        0
      ],
      "id": "a4398d81-d398-453d-b2cd-f3c1be52d1e0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -64,
        208
      ],
      "id": "05cb7ef2-bd7b-4c14-b21d-23a8bcc46ca7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "t6rPenhw08XclX0C",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6aa16094-c059-48ab-b948-ff3a5be64e74",
              "leftValue": "={{ $json.text }}",
              "rightValue": "\"REQUEST\"",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "29a7538d-d90a-496d-92a0-283710bb119a",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "resource": "incident",
        "operation": "create",
        "short_description": "={{ $('Gmail Trigger').item.json.subject }}",
        "additionalFields": {
          "caller_id": "admin",
          "description": "={{ $('Gmail Trigger').item.json.text }}",
          "impact": 2
        }
      },
      "type": "n8n-nodes-base.serviceNow",
      "typeVersion": 1,
      "position": [
        576,
        -96
      ],
      "id": "a6074359-801d-4724-a7b2-d7ac6014b4b1",
      "name": "Create an incident",
      "credentials": {
        "serviceNowBasicApi": {
          "id": "ySt6B2lx5fyVlUUd",
          "name": "ServiceNow Basic Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        96
      ],
      "id": "63606647-aea5-4355-8d1d-7c3a28f4f4da",
      "name": "Wait",
      "webhookId": "d3fcf451-ff1c-49d9-b23b-602dc36cd887"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Ticket Created</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  \n  <p>Hi Team,</p>\n\n  <p>\n    A ticket has been successfully created for the below request.\n  </p>\n\n  <p>\n    <strong>Ticket Number:</strong> {{ $json.task_effective_number }}\n  </p>\n\n  <p>\n    Regards,<br>\n    Praveen\n  </p>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        -96
      ],
      "id": "9aef3bfe-3cca-4ea6-86e3-82b6fadd2912",
      "name": "Reply to a message",
      "webhookId": "13b7a335-71ee-416d-9181-f57c33497071",
      "credentials": {
        "gmailOAuth2": {
          "id": "w4xPBu6jRbycKFKA",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an incident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an incident": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "278a49fe-1d6a-456a-9871-b0b30dbc2703",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f973b6211b077ae7ed792ede0492c1182f52a5dfad171dd60a712b9d3549b523"
  },
  "id": "rwOZMiQjY21haNpm",
  "tags": []
}