n8n Automation/Google Node.json
{
  "name": "Google Node",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "147e6860-bcbb-414e-96d5-0f3d1ec42b39",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "07-01-2026 n8n Automation Google Node",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "6d500739-44d6-4c03-bb3f-fad0d5b6284d",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IQdBwHLgT1xGlJPx",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $json.id }}",
        "title": "Doc"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "973b6428-815c-4503-abec-eb19129d0098",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Zhx6Ol5ka23up7cp",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Sheet",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Hello"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "c2eccb33-5ab7-4f2e-9d81-a9aa25f1f1a8",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b1qgo0D2HSn1wJv8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Praveen19015433@gmail.com",
        "subject": "The n8n Automationb",
        "emailType": "text",
        "message": "All The node has bee sucessesfully executed.\n\nHave a happy n8n journey do more things, you are destined for great things!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        0
      ],
      "id": "62f6a594-62c2-4d01-bc72-0cfca10a8987",
      "name": "Send a message",
      "webhookId": "41b12767-11db-4b0f-8faa-c500e2021a53",
      "credentials": {
        "gmailOAuth2": {
          "id": "w4xPBu6jRbycKFKA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "Praveen19015433@gmail.com",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1008,
        0
      ],
      "id": "9a912a2b-788b-4dcc-ba04-7718380ddf1c",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4RqJexP1x6bdNeVQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "352608b5-4336-488e-94ba-d5fd748045e2",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IQdBwHLgT1xGlJPx",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "afab1e45-2968-4996-a46e-e5052dd0f621",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f973b6211b077ae7ed792ede0492c1182f52a5dfad171dd60a712b9d3549b523"
  },
  "id": "i0MD9LwuvyqEUfBo",
  "tags": []
}