n8n Automation/My First n8n workflow.json
{
  "name": "My First n8n workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "6d13ea17-341c-4c05-b1c9-c1e7bdd1c65a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4ed6147-3973-40ee-b821-0c0138d9c82a",
              "name": "User",
              "value": "[ {\"name\":\"Praveen Young\",\"Age\":21},{\"name\":\"Praveen strong\",\"Age\":26}]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -16
      ],
      "id": "242edcdf-a395-4bcb-8d59-2e225316675a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst input = items[0].json.User;\n\n// Create separate items for each user\nconst output = input.map(user => {\n  return {\n    json: {\n      name: user.name,\n      age: user.Age\n    }\n  };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -16
      ],
      "id": "0b4be41a-ac85-4221-a359-5296f7a54f6f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -16
      ],
      "id": "9022e0b5-4574-4cca-ba80-f94e6da4a811",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "934659fa-715c-489e-acbb-6bb6c73f2f70",
              "leftValue": "={{ $json.age }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        48
      ],
      "id": "e7d143f5-2612-45cc-9118-f5918eb17343",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a0b3616-9246-40b9-9d64-672fb1abe5bd",
              "name": "={{ $json.name }}",
              "value": "={{ $json.age }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -48
      ],
      "id": "f41dd574-dbfb-4b87-b65e-7e07531d7cbd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45faaafa-91ea-4c03-9b34-709089a24170",
              "name": "={{ $json.name }}",
              "value": "={{ $json.age }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        176
      ],
      "id": "df049d1c-5c79-494e-8d5f-ce63e89f2182",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cde276de-a721-4755-87b5-97d355a9a131",
  "meta": {
    "instanceId": "f973b6211b077ae7ed792ede0492c1182f52a5dfad171dd60a712b9d3549b523"
  },
  "id": "LifqCbRwwO2f2jPN",
  "tags": []
}