n8n Automation/Telegram bot.json
{
  "name": "Telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "92b88800-2374-4d71-a0a3-6a4f4a0cf95e",
      "name": "Telegram Trigger",
      "webhookId": "39ac8fd5-cc8f-4d89-a18c-f33c3ad739de",
      "credentials": {
        "telegramApi": {
          "id": "kSFdA5lY6NUqJxbr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a wonderful assistant help user according to their query\n\n {{ $json.message.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        128,
        0
      ],
      "id": "a9a12638-e425-48f6-b8e4-7f1c9044bab9",
      "name": "Basic LLM Chain",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        240
      ],
      "id": "408f9be1-2866-48e5-ad77-769c16530c92",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "84lpwjbfwwCtvtuT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ],
      "id": "978b7c62-731c-49d7-9d11-3ba7f34eb71c",
      "name": "Send a text message",
      "webhookId": "35e91c04-3cb6-4571-a2dd-99183607864f",
      "credentials": {
        "telegramApi": {
          "id": "kSFdA5lY6NUqJxbr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d00c0a49-c9ad-4f90-b57a-e70867b94a62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f973b6211b077ae7ed792ede0492c1182f52a5dfad171dd60a712b9d3549b523"
  },
  "id": "hf5L5patIGLpWqIQ",
  "tags": []
}